/*
 * Originally based on github.com/sjaakvandenberg/cleaver-dark
 */

/* Local fonts */

@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Play/Play-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Play/Play-Bold.ttf') format('truetype');
}


/* Theme Styles */
body {
  font-family: 'Play', 'Helvetica', sans-serif;
  font-size: 100%;
  text-align: center;
  overflow: hidden;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Presentation Styles */
.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #333;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  width: 100%;
  height: auto;
  max-height: 100%;
  padding: 1em;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 120%;
  line-height: 1.375;
  overflow: hidden;
}

.valign-top {
  align-items: flex-start;
}

.valign-bottom {
  align-items: flex-end;
}

.no-margin {
  margin: 0;
}

.contact p {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

img {
  max-width: 100%;
  max-height: 100%;
  max-height: calc(100vh - 3em); /* Allow space for captions by default */
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.arrow {
  float: left;
  height: 0;
  width: 0;
  margin-right: 15px;
  border: 15px solid #272822;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prev {
  border-top-color: transparent;
  border-right-width: 25px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-left-width: 0;
}

.prev:hover {
  border-top-color: transparent;
  border-right-width: 25px;
  border-bottom-color: transparent;
  border-left-width: 0;
  border-left-color: #272822;
}

.next {
  border-top-color: transparent;
  border-right-color: transparent;
  border-right-width: 0;
  border-bottom-color: transparent;
  border-left-width: 25px;
}

.next:hover {
  border-top-color: transparent;
  border-right-color: transparent;
  border-right-width: 0;
  border-left-width: 25px;
  border-left-color: #272822;
}

h1, h2 {
  margin: 0 0 0.25em 0;
  font-family: 'Play';
  font-weight: bold;
  transform: scaleX(1.05);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 300%;
  line-height: 1.5;
}

h2 {
  font-size: 175%;
  line-height: 1.4;
}

h2:last-child {
  margin-bottom: 0;
}

h3 {
  margin: 0.5em 0 1em 0;
  font-size: 150%;
  line-height: 1.4;
  border-bottom: none;
  font-weight: normal;
}

h4 {
  margin: 0.5em 0 1em 0;
  font-size: 120%;
  line-height: 1.3;
  border-bottom: none;
  font-weight: normal;
}

ul,
ol {
  margin: 0.5 0 1em 0;
  padding: 0 0 0 45px;
  line-height: 1.4;
  font-size: 1.15em;
  display: inline-block;
}

li {
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

li code {
  font-size: 0.9em;
}

.long-list li {
  font-size: 1em;
}

blockquote {
  font-style: italic;
  font-size: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}

p {
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
  color: #987fff;
}

a:hover {
  color: #987fff;
  text-decoration: underline;
}

pre {
  font-size: 75%;
  line-height: 1.3;
  text-align: left;
  padding: 1em;
  margin-bottom: 3em;
  background: #fafafa;
}

table td,
table th {
  padding-right: 3em;
  text-align: left;
}

.progress {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
}

.progress-bar {
  height: 3px;
  width: 0;
  background-color: #a6e22e;
  -webkit-transition: width .15s ease-out;
  -moz-transition: width .15s ease-out;
  -o-transition: width .15s ease-out;
  transition: width .15s ease-out;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.caption {
  font-size: 0.7em;
  margin-top: 0.5em;
  font-weight: normal;
  text-shadow: none;
  -webkit-text-stroke-width: 0;
  color: #666;
}

.credits {
  margin-top: 5em;
  font-size: 0.5em;
  font-weight: normal;
  text-shadow: none;
  -webkit-text-stroke-width: 0;
}

/* Quote by... */
blockquote + p {
  font-size: 0.9em;
  margin-top: 1em;
}

/* Code Highlighting */
code {
  font-family: Courier, sans-serif;
  border-radius: 3px;
  font-weight: 500;
  text-shadow: none;
  -webkit-text-stroke-width: 0;
}

pre {
  display: inline-block;
  border-radius: 1em;
}

pre code {
  display: block;
  color: #444;
  font-size: 1.3em;
  line-height: 1.5em;
  overflow-y: hidden;
  background: transparent;
}

pre .tag,
pre .tag .title,
pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #704dff;
}

pre code .constant {
  color: #66d9ef;
}

pre .class .title {
  color: #fafafa;
}

pre .attribute,
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #bf79db;
}

pre .tag .value,
pre .string,
pre .subst,
pre .title,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #987fff;
}

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #aaa;
}

pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .title,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .status {
  /* font-weight: 600; */
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: .5;
}

.hljs-keyword {
  color: #704dff;
}

.hljs-tag,
.hljs-name {
  color: #90f7f8;
}

.hljs-string {
  color: #987fff;
}

.hljs-title {
  color: #673280;
}

/* Media Queries */
/* 640 x 480 is the default (1em) */

/* 800 x 600 */
@media (min-width: 800px) and (min-height: 600px) {
    body {
        font-size: 125%;
    }
}

/* 1024 x 768 */
@media (min-width: 1024px) and (min-height: 768px) {
    body {
        font-size: 160%;
    }
}

/* 1152 x 864 */
@media (min-width: 1152px) and (min-height: 864px) {
    body {
        font-size: 180%;
    }
}

/* 1280 x 960 */
@media (min-width: 1280px) and (min-height: 960px) {
    body {
        font-size: 200%;
    }
}

/* 1440 x 1080 */
@media (min-width: 1440px) and (min-height: 1080px) {
    body {
        font-size: 225%;
    }
}

/* 1600 x 1200 */
@media (min-width: 1600px) and (min-height: 1200px) {
    body {
        font-size: 250%;
    }
}

/* 1920 x 1440 */
@media (min-width: 1920px) and (min-height: 1440px) {
    body {
        font-size: 300%;
    }
}

/* Override theme */
@media (max-width: 850px) {
  img {
    width: auto;
  }
}

/* Print styles used for saving to PDF */
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: flex;
    page-break-after: always;
    background-color: #fff;
  }
}

/* Common slide contents */
.contact {
  margin-top: 3em;
}

.credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.5em;
  color: #666;
}

.credit a {
  color: #7a7a7a;
}

.corner-logos {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.corner-logos img {
  max-width: 100px;
}

/* For background images so we can apply filters */
.slide {
  overflow: auto;
  position: relative;
}
/* Vignette effect */
.slide.bg-fade:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  box-shadow: inset 0 0 12em #000;
  width: 100%;
  height: 100%;
}
/* Background image */
.slide:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
/* Background image to render things on top of */
.slide.bg-fade:after {
  filter: blur(2px) grayscale(0.5) brightness(0.2);
}
.slide-content {
  z-index: 1;
}

/* Slide specific styles here */

#slide-1 h1 {
  margin-top: 0.5em;
}

#slide-1 h2 {
  font-style: italic;
}

#slide-1 .contact {
  margin-top: 6em;
}

.slide.bg-white:after {
  background-color: #fff;
}

.slide.bg-buzz1:after {
  background-image: url(images/buzz-flickr_armadillo444.jpg);
  filter: blur(2px) grayscale(0.5) brightness(0.175);
}

.slide.bg-buzz2:after {
  background-image: url(images/buzz-flickr_robertmitchem.jpg);
}

.slide.bg-buzz3:after {
  background-image: url(images/buzz-flickr_brandonserna.jpg);
}

.slide.bg-buzz4:after {
  background-image: url(images/buzz-flickr_kevinharber.jpg);
}

.slide.bg-buzz5:after {
  background-image: url(images/buzz-flickr_rafaelromero.jpg);
}

.slide.bg-buzz6:after {
  background-image: url(images/buzz-flickr_payayita.jpg);
}

.slide.bg-buzz-bye:after {
  background-image: url(images/buzz-flickr_bridgettewynn.jpg);
}

.slide.bg-2017:after {
  background-image: url(images/new-years-eve-1664737_1920.jpg);
}

.slide.bg-iphone-launch:after {
  background-image: url(images/Steve_Jobs_presents_iPhone.jpg);
}

.slide.bg-pwas:after {
  background-image: url(images/pwa-logo.jpg);
}

.slide.bg-best-of-both:after {
  background-image: url(images/hovis-best-of-both.jpg);
  filter: blur(2px) grayscale(0.5) brightness(0.125);
}
